2021-08-Deep-learning-Redes-neuronales/ml/Part 8 - Deep Learning/Section 40 - Convolutional Neural Networks (CNN)/dataset
2021-08-Deep-learning-Redes-neuronales/additional materials/


2021-08-Deep-learning-Redes-neuronales/deeplearning-az-master/datasets/Part 2 - Convolutional Neural Networks (CNN)/dataset/*
2021-08-Deep-learning-Redes-neuronales/deeplearning-az-master/datasets/Part 5 - Boltzmann Machines (BM)/ml-1m/*
2021-08-Deep-learning-Redes-neuronales/deeplearning-az-master/datasets/Part 5 - Boltzmann Machines (BM)/ml-100k/*
2021-08-Deep-learning-Redes-neuronales/deeplearning-az-master/datasets/Part 6 - AutoEncoders (AE)/ml-1m/*
2021-08-Deep-learning-Redes-neuronales/deeplearning-az-master/datasets/Part 6 - AutoEncoders (AE)/ml-100k/*
2021-08-Deep-learning-Redes-neuronales/deeplearning-az-master/datasets/Part 6 - AutoEncoders (AE)/Kaggle/*
2021-08-Deep-learning-Redes-neuronales/deeplearning-az-master/teoria/*